*{
    margin: 0;
    padding: 0;
    /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
   font-family: 'Tahoma', sans-serif;
    /* ADD TO FIX HEADER - Keep sidebar from disappearing on horizontal scroll */
    overflow-x:auto; /* Hide horizontal scrollbar */
    /* For Planning Purposes - TODO REMOVE*/
    font-size: 16px;
}


/* Image Styling  */
.user-img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
    /* Keeps Image from Shrinking (unsure why occured) */
    overflow-x: clip; 

}

/* Main Div Styling  */

ul{
    overflow-x: visible;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    /* 100% of the screen's height  */
    height: 100vh; 
    width: 80px;
    background-color: #023047;
    /* 1st is top and bottom, then left and right */
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    z-index: 100;
    overflow-x: visible;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

/* Make the sidebar wider when activated */
.sidebar.active{
    width: 250px;
}

/* Movev the button when sidebar is active */
.sidebar.active #btn{
    left: 90%
}

/* Styling for the button */
.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translate(-50%);
}

/* Styling for the logo */
.sidebar .top .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    /* Only want shown when sidebar open */
    opacity: 0;

}

/* Make logo visible when sidebar is open  */
.sidebar.active .top .logo{
    opacity: 1;
}

/* Font styling for logo */
.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}

/* Styling for user  */
.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user p{
    color:#fff;
    opacity: 1;
    margin-left: 1rem;
}

/* Toggling for user tag */
.sidebar p{
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.bold{
    font-weight: 600;
}

/* Styling for list items */
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    overflow-x: visible;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

/* Hover effects  */
.sidebar ul li a:hover{
    background-color: #fff;
    color: #023047;
}

.sidebar ul li a #focus{
    background-color: #fff;
    color: #023047;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    overflow-x: visible;
}

/* Get rid of white text when bar not active */
.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    overflow-x: visible;
    background-color:#eee;

}


/* Only want them to show when hovered over  - current issue can't see atm*/
.sidebar ul li:hover .tooltip{
    opacity: 1;
    z-index: 20;
    overflow-x: visible;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.main-content {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top:0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    z-index: 10;
    /* padding: 1rem; */
}

.container{
    text-align: center;
    display: grid;
    justify-content: space-between;
    height: 100vh; 
    width: 100vw;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 70px 200px 615px;
    grid-template-areas: 
    "nav nav" 
    "content1 main"
    "content1 location"
;
}


#navbar{
    text-align: center;
    grid-area: nav;
    position: fixed;
    overflow-x: scroll;
    width: 100%;
    height: 70px;
    background-color: #023047;
    color: #eee;
    left: 80px;
}

#main{
    grid-area: main;
    background-color:white;
    overflow: auto;

}

#content1{
    grid-area: content1;
    background-color: #8ECAE6;

}

/* #footer{
    grid-area: footer;
    background-color: green;

} */

#location{
    grid-area: location;
    background-color: beige;
}

/* Rules from Sheza's Midterm Form  */

#form, #afterSubmit {
    border-radius: 20px;
    background-color: #432818;
    padding: 20px;
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
    position: relative; 
    top:30px;
    color: white;
}

#locationForm{
    padding: 30px;
}

#navbar img{
    width: 70px;
    margin: 10px;
    margin-right: 80px;
    
}

.header{
    font-size: 26px;
}

/* Rules for the Information Section */

#content1{
    padding-top: 25%;
    grid-area: content1;
    background-color: #8ECAE6;
    align-items: center;
    width: 100%;
    color: #023047;
    border-right: 2px solid #023047;

}
#content1 p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;

}

.stand-out{
    font-weight: bolder;
}

#content1 .stand-out{

}

#content1 .header{
    font-size: 32px;
    font-weight: bolder;
    padding: 10px;


}

/* Rules for the Location Selection Drop Down */

#main{
    grid-area: main;
    background-color:white;
    overflow: auto;
    color:#023047;

}

#main select{
    color: #023047;
}

#main .header{
    color: #023047;
    padding: 10px;
    padding-top: 40px;
    font-weight: bolder;
}

.button-hotels-tickets {
    margin: auto;
    margin-top: 5px;
    right: 50%;
    top: 30px;
    left: 40px;
    font-size: 16px;
    width: 100px;
    height: 38px;
    color: #023047;
    background-color: #8ECAE6;
}

.button-hotels-tickets:hover {
    background-color: #219EBC;
}

/* Rules for the Location Image Section */


#location{
    grid-area: location;
    background-color:white; 
}

#location img{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #023047;
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 600px) {
   *{
    font-size: 14px;
  }
  .container{
    text-align: center;
    display: grid;
    justify-content: space-between;
    height: 100vh; 
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 220px 615px 615px;
    grid-template-areas: 
    "nav" 
    "main"
    "content1"
    "location"
;
}
 
 #navbar{
    left: 0px;
    height: 80px;

    }

    

.sidebar{
      display: none;
  }

  .main-content {
    width: 100vw;
    left:0;
    transition:none;
    }
     #navbar img{
    margin: 10px;
    margin-right:0px;
     }

    #main{
    height: 220px;
}
#content1{
    padding-top: 10%;
    border-top: 2px solid #023047;
    border-bottom: 2px solid #023047;


}

#location img{
    width: 90%;
}


}