* {
    margin: 0;
    padding: 0;
    /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Image Styling  */
.user-img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

/* Main Div Styling  */

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    /* 100% of the screen's height  */
    height: 100vh; 
    width: 80px;
    background-color: #12171e;
    /* 1st is top and bottom, then left and right */
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content-hotels-tickets{
    left: 250px;
    width: calc(100% - 250px);
}

/* Make the sidebar wider */
.sidebar .active{
    width: 250px;
}

/* Movev the button when sidebar is active */
.sidebar .active #btn{
    left: 90%
}

/* Styling for the button */
.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}

/* Styling for the logo */
.sidebar .top .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    /* Only want shown when sidebar open */
    opacity: 0;

}

/* Make logo visible when sidebar is open  */
.sidebar.active .top .logo{
    opacity: 1;
}

/* Font styling for logo */
.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}

/* Styling for user  */
.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user p{
    color:#fff;
    opacity: 1;
    margin-left: 1rem;
}

/* Toggling for user tag */
.sidebar p{
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.bold{
    font-weight: 600;
}

/* Styling for list items */
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

/* Hover effects  */
.sidebar ul li a:hover{
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

/* Get rid of white text when bar not active */
.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

/* Only want them to show when hovered over  */
.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.main-content-hotels-tickets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px;
    position: relative;
    min-height: 100vh;
    top:0;
    left: 80px;    
}

.grid-hotels-tickets {
    display: flex;
    height: 70%; 
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.button-hotels-tickets {
    display: block;
    text-align: center;
    margin: auto;
    right: 50%;
    font-size: 20px;
    width: auto;
    padding: 5px;
    color: #023047;
    background-color: #8ECAE6;
}
.button-hotels-tickets:hover {
    background-color: #219EBC;
}

.box-hotels-tickets {
    display: block;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    justify-content: center;
    cursor: pointer;
    margin: 40px;
    background-color: #8ECAE6;
    padding: 10px;
    color: #023047;
}

.box-hotels-tickets:hover {
    background-color: #219EBC;
}

h1, h4 {
    text-align: center;
    padding: 10px;
    color: #023047;
}

.info-container-hotels-tickets {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: #023047;
}

.info-container-hotels-tickets p {
    padding: 5px;
    font-size: 15px;
}

/* Add some basic styling to position image and text */
.image-container-hotels-tickets {
    display: flex;
    align-items: center;
}

/* Add some margin between image and text */
.image-container-hotels-tickets img {
    margin-right: 10px;
    max-width: 50%; 
    height: auto; 
}

.image-container-hotels-tickets p {
    font-size: 20px;
    font-weight: bold;
    color: #023047;
    text-align: center;
}